<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title color="primary">Customer Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form (ngSubmit)="seachCustomers()">

        <ion-item *ngIf="!isNotRegistered">
            <ion-label color="dark" position="stacked">Customer Name:</ion-label>
            <ion-input type="text" [(ngModel)]="customerSearchRequest.CustomerName" name="LName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="dark" position="stacked">Registration No:</ion-label>
            <ion-input type="text" [(ngModel)]="customerSearchRequest.RegNo" name="RegNo"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="dark" position="stacked">Mobile:</ion-label>
            <ion-input type="number" [(ngModel)]="customerSearchRequest.MobileNo" name="MobileNo"></ion-input>
        </ion-item>

        <ion-button type="submit">Search</ion-button>

    </form>

    <ion-button *ngIf="isNotRegistered" type="submit" onclick="location.href='/customer-registration'">Register
    </ion-button>
    <!-- *ngIf="isNotRegistered" -->
    <!-- <ion-grid> -->

    <table class="table table-hover ldc-creditor-table">
        <thead>
            <tr>
                <th scope="col">Reg No</th>
                <th scope="col">Full Name</th>
                <th scope="col">Mobile</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customerInfo" (click)="redirectCustomer(customer)">
                <td>{{customer.RegNo}}</td>
                <td>{{customer.FullName}}</td>
                <td>{{customer.MobileNo}}</td>
            </tr>
        </tbody>
    </table>

</ion-content>